body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}
.full-width {
  width: 100%;
}
.talign-center {
  text-align: center;
}
td, th {
  cursor: pointer;
  position: relative;
  transition: all .3s ease-in-out;
}
input[type="file"] {
  outline: none;
}
span {
  vertical-align: middle;
}
td span:last-child,
th span:last-child {
  opacity: 0;
  transition: opacity .3s ease-in-out;
}
td:hover span:last-child,
th:hover span:last-child {
  opacity: 1;
}
td:hover,
th:hover {
  background-color: #6495ED;
  color: #fff;
}
td .fas,
th .fas {
  font-size: 14px;
  margin-left: 25px;
  color: #fff;
}
.upload-label > * {
  cursor: pointer;
}
